.home {
  display: flex;
}

.latestArticle {
  margin-top: 50px;
  margin-left: 50px;
  color: #121212;
  /* border-bottom: 0px solid #222222;
  padding: 0px 0px 0px 0px; */
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
  opacity: 0.3;
}
